* {
   font-family: 'Patrick Hand', cursive;
}

body {
   margin: 0;
   padding: 0;
   background: #588157;
}

.flex-row {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.flex-col {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.pointer{
   cursor: pointer;
   transition: 0.2s ease-in-out;
   overflow: hidden;
}
.pointer:hover{
   scale: 1.15;
}

.hidden{
   display: none;
}

.block{
   display: block;
}
.gap{
   gap: var(--gap);
}